// button  colors

$primary: #b3113f;
$secondary: #000000;


$white: rgba(255, 255, 255, 0.8);
$bg-primary: rgb(0, 208, 145);

$light-green: #7ed56f;
$Medium-green: #55c57a;
$Dark-green: #28b485;


$box-shadow: 0 0 5px rgba(0, 0, 0, 0.3), 0 0px 3px rgba(0, 0, 0, 0.3);