
// cards paket-section
.paket-section {
    // background: black;
    padding: 3rem 1rem;
    max-width: 1200;
    
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    
    .card {
        width: 300px;
        margin: 1rem;
        padding: 10px;
        border: 3px solid $primary;
        background-image: linear-gradient(to left bottom, rgba(126, 213, 111, .8), rgba(85, 198, 122, 0.8), rgb(85, 198, 122));
        
        display: -webkit-flex;
        display: -ms-flex;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        // align-items: center;
        // justify-content: center;
        
        
        .card-popular {
            box-shadow: 0 0 5px rgba(255, 255, 255, .5), 5px 0px 5px rgba(255, 255, 255, .5);
            background: $primary;
            border-radius: 50px;
            // width: 250px;
            margin: .5rem auto;
            margin-bottom: 1.5rem;
            
            display: -webkit-flex;
            display: -ms-flex;
            display: flex;
            flex-direction: column;
            align-items: center;

            p {
                padding: 5px 10px;
                font-size: 15px;
                color: $white;
                
                .fa {
                    font-size: 16px;
                    color: $white;
                }
            }            
        }
    }
    
    .card-head,
    .card-footer {
        padding: 1rem;
        align-self: center;
    }
    
    .header-row {
        height: 1px;
        background: rgba(0, 0, 0, 0.1);
    }
    
    .card-body-text {
        // background: pink;
        margin: 20px 20px;
    }
    
    h3 {
        font-weight: 500;
        color: $white;
        font-size: 25px;
        text-shadow: $box-shadow;
    }
    
    p {
        color: rgba(0, 0, 0, 0.6);
        font-weight: 400;
        text-align: left;
    }
    
    .fa {
        color: lighten($primary, 20);
        font-size: 15px;
    }
    
    
}

@media (max-width: 960px) {
    
    .paket-section {
        // flex-direction: column;
        flex-wrap: wrap;
    }
        
}
